* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

.container {
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #E2E3E0;
}


/* ============== clock  ============== */
.clock__container {
    position: relative;
}

.clock {
    position: relative;

    display: flex;
    align-items: center;

    padding: 0 50px;

    width: 480px;
    height: 200px;

    border: 2px solid #000;
    border-radius: 100px;

    background-color: #DCDED3;

    box-shadow: 10px 10px #BFBFBF inset;
    z-index: 2;
}

.clock__bottom_shadow {
    position: absolute;
    top: 6.5%;
    left: 4%;
    z-index: 1;

    width: 480px;
    height: 200px;

    border-radius: 100px;
    box-shadow: 10px 10px #2F302C;

    background-color: #A6A6A6;
}


/* ============== analog__clock  ============== */
.analog__clock {
    position: relative;

    width: 120px;
    height: 120px;

    border: 2px solid #000;
    border-radius: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.clock__center_dot {
    width: 9px;
    height: 9px;

    background-color: #000;
    border-radius: 100%;
    z-index: 3;
}

.clock__hour, .clock__minute {
    position: absolute;
    bottom: 50%;

    transform-origin: bottom;

    background-color: red;

    width: 3px;
    border-radius: 1px;

    z-index: 2;
}

.clock__hour {
    height: 40px;
}

.clock__minute {
    height: 50px;
}